.store-drawer{
	width: 20%;
	border-right: 0px !important;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0, 0, 0, 1);
}

.drawer-header {
	background-color: #8084A2;
	margin: 0;
	color: #fff;
	height: 9.9em;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.store-heading {
	/*padding: 1.5em 0 0 .5em;*/
	margin-bottom: 1px;
	font-size: 32px;
}

.drawer-body {
	margin-top: 2em;
	margin-bottom: 2em;
}

.menu-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu-circle {
	margin-left: 2em;
	margin-top: 10px;
	background-color: #FF3B80;
	color: #fff;
	border-radius: 50%;
	padding: 20px 25px;
	border: 1px solid #FF3B80;
}

.parent-menu {
	margin-left: 1em;
	font-size: 1.5em;
}

.menu-sub-items {
	display: flex;
	flex-direction: column;
	margin-left: 7.3em;
}

a{
	text-decoration: none;
	padding: .5em;
	font-size: 20px;
}

.drawer-footer {
	position: absolute;
	bottom: 1em;
	left: 1em;
}

.font-icon {
	margin-right: 1em;
}
