.main-footer{
	background: #fff;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 1px rgba(0, 0, 0, 0.4);
	bottom: 0;
  right: 0;
  display: flex;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 11;
  height: 4em;
  align-items: center;
  justify-content: space-around;
}

.footer-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-btns>button {
  margin-left: 1em;
}

.footer-menu>div {
  bottom: 1em !important;
  position: fixed !important;
  right: 7em !important;
}